body{
    background-color: blanchedalmond;
    margin: 10px;
}

input[type=password]{
    background-color: brown;
}
.taxtfield{
    background-color: blue;
}
/* #masud{
    background-color: chartreuse;
}*/
#khan{
    background-color: crimson;
}
.karim{
background-color: darkgoldenrod;
}