*{
    margin: 0px;
    padding: 0px;
}
table{
    width: 80px;
    margin: 0px;
    text-align: center;
}
table,Tr,td,th{
    border: 1px solid red;
    border-collapse: collapse;
}
#sidebar{
    width: 10%;
    height: 100vh;
    float: left;
    
}
#main{
    width: 90%;
    height: 100vh;
    float: right;
}
#main iframe{
    width: 100%;
    height: 100vh;
}
#sidebar a{
    text-decoration:none ;
}