.list{
    list-style-type: square;
}
*{
    margin: 0px;
    padding: 0px;
}
table{
    width: 80%;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    text-align: center;
}
nav{
    background-color: black;
    padding:0px;
}
nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}
nav,ul,li a{
    text-decoration:none ;
    display: block;
}