.list{
    list-style-type: square;
}
/* *{
    margin: 0px;
    padding: 0px;
} */
table{
    width: 80%;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    text-align: center;
}

nav,ul,li a{
    text-decoration:none ;
    display: block;
}
#ddd{
    background-color: black;
}
#bbb{
    background-color: yellow;
}
.ccc{
    background-color: red;
}