*{
    margin: 0px;
    padding: auto;
}
.AA{
    background-color: chartreuse;
}

#www{
    background-color: brown;
}
table,td,tr{
        border: 1px solid;
        border-collapse: collapse;
        background-color: chocolate;
<<<<<<< HEAD
    }
    table{
        margin:auto;
        width: 80%;
=======
        
    }
    table{
        width: 80%;
        margin: auto;
>>>>>>> 22be2e0f4c4954c398fd23144eca158d27e77adf
        color: #555;
        text-align: center;
    }
    #navber{
        background-color:beige;
        width: 10%;
        height: 100vh;
        float: left;
    }
    #main{
        width: 90%;
        height: 100vh;
        float: right

        
    }
    #main iframe{
        width: 100%;
        height: 100vh;
        
    }
    #navber ul,
    #navber li{
        justify-content: center;
        display: flex;
    }
    #navber a{
        text-decoration: none;
    }
    